# 作業 : (Kaggle)鐵達尼生存預測精簡版 
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著不依賴說明, 只依照下列程式碼回答下列問題, 初步理解什麼是"特徵工程"的區塊

# [作業重點]
- 試著不依賴註解, 以之前所學, 回答下列問題

# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?
=> ANS:C,把資料量化
# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) =>ANS: NAME,SEX,Ticket,Cabin Embarked 

# 作業3
* 續上題，請問哪個欄位是"目標值"?=>ANS:Survived

In [26]:
# 程式區塊 A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

data_path = 'D:/100days/data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [27]:
# 程式區塊 B
train_Y = df_train['Survived']
print('train_Y:',train_Y)
ids = df_test['PassengerId']
print('ids:',ids)
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
print('df_train:',df_train)
df_test = df_test.drop(['PassengerId'] , axis=1)
print('df_test:',df_test)
df = pd.concat([df_train,df_test])
print('df:',df)
df.head()

train_Y: 0      0
1      1
2      1
3      1
4      0
5      0
6      0
7      0
8      1
9      1
10     1
11     1
12     0
13     0
14     0
15     1
16     0
17     1
18     0
19     1
20     0
21     1
22     1
23     1
24     0
25     1
26     0
27     0
28     1
29     0
      ..
861    0
862    1
863    0
864    0
865    1
866    1
867    0
868    0
869    1
870    0
871    1
872    0
873    0
874    1
875    1
876    0
877    0
878    0
879    1
880    1
881    0
882    0
883    0
884    0
885    0
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64
ids: 0       892
1       893
2       894
3       895
4       896
5       897
6       898
7       899
8       900
9       901
10      902
11      903
12      904
13      905
14      906
15      907
16      908
17      909
18      910
19      911
20      912
21      913
22      914
23      915
24      916
25      917
26      918
27      919
28      920
29      921
       ...
388    1280
389    1281
390    1282
391    1283
392    1284
393    1285
394    1286
395    1287
396    1288
397    1289
398    1290
399    1291
400    1292
401    1293
402    1294
403    1295
404    1296
405    1297
406    1298
407    1299
408    1300
409    1301
410    1302
411    1303
412    1304
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64
df_train:      Pclass                                               Name     Sex   Age  \
0         3                            Braund, Mr. Owen Harris    male  22.0
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
2         3                             Heikkinen, Miss. Laina  female  26.0
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
4         3                           Allen, Mr. William Henry    male  35.0
5         3                                   Moran, Mr. James    male   NaN
6         1                            McCarthy, Mr. Timothy J    male  54.0
7         3                     Palsson, Master. Gosta Leonard    male   2.0
8         3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0
9         2                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0
10        3                    Sandstrom, Miss. Marguerite Rut  female   4.0
11        1                           Bonnell, Miss. Elizabeth  female  58.0
12        3                     Saundercock, Mr. William Henry    male  20.0
13        3                        Andersson, Mr. Anders Johan    male  39.0
14        3               Vestrom, Miss. Hulda Amanda Adolfina  female  14.0
15        2                   Hewlett, Mrs. (Mary D Kingcome)   female  55.0
16        3                               Rice, Master. Eugene    male   2.0
17        2                       Williams, Mr. Charles Eugene    male   NaN
18        3  Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0
19        3                            Masselmani, Mrs. Fatima  female   NaN
20        2                               Fynney, Mr. Joseph J    male  35.0
21        2                              Beesley, Mr. Lawrence    male  34.0
22        3                        McGowan, Miss. Anna "Annie"  female  15.0
23        1                       Sloper, Mr. William Thompson    male  28.0
24        3                      Palsson, Miss. Torborg Danira  female   8.0
25        3  Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0
26        3                            Emir, Mr. Farred Chehab    male   NaN
27        1                     Fortune, Mr. Charles Alexander    male  19.0
28        3                      O'Dwyer, Miss. Ellen "Nellie"  female   NaN
29        3                                Todoroff, Mr. Lalio    male   NaN
..      ...                                                ...     ...   ...
861       2                        Giles, Mr. Frederick Edward    male  21.0
862       1  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0
863       3                  Sage, Miss. Dorothy Edith "Dolly"  female   NaN
864       2                             Gill, Mr. John William    male  24.0
865       2                           Bystrom, Mrs. (Karolina)  female  42.0
866       2                       Duran y More, Miss. Asuncion  female  27.0
867       1               Roebling, Mr. Washington Augustus II    male  31.0
868       3                        van Melkebeke, Mr. Philemon    male   NaN
869       3                    Johnson, Master. Harold Theodor    male   4.0
870       3                                  Balkic, Mr. Cerin    male  26.0
871       1   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0
872       1                           Carlsson, Mr. Frans Olof    male  33.0
873       3                        Vander Cruyssen, Mr. Victor    male  47.0
874       2              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0
875       3                   Najib, Miss. Adele Kiamie "Jane"  female  15.0
876       3                      Gustafsson, Mr. Alfred Ossian    male  20.0
877       3                               Petroff, Mr. Nedelio    male  19.0
878       3                                 Laleff, Mr. Kristo    male   NaN
879       1      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0
880       2       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0
881       3                                 Markun, Mr. Johann    male  33.0
882       3                       Dahlberg, Miss. Gerda Ulrika  female  22.0
883       2                      Banfield, Mr. Frederick James    male  28.0
884       3                             Sutehall, Mr. Henry Jr    male  25.0
885       3               Rice, Mrs. William (Margaret Norton)  female  39.0
886       2                              Montvila, Rev. Juozas    male  27.0
887       1                       Graham, Miss. Margaret Edith  female  19.0
888       3           Johnston, Miss. Catherine Helen "Carrie"  female   NaN
889       1                              Behr, Mr. Karl Howell    male  26.0
890       3                                Dooley, Mr. Patrick    male  32.0

     SibSp  Parch            Ticket      Fare        Cabin Embarked
0        1      0         A/5 21171    7.2500          NaN        S
1        1      0          PC 17599   71.2833          C85        C
2        0      0  STON/O2. 3101282    7.9250          NaN        S
3        1      0            113803   53.1000         C123        S
4        0      0            373450    8.0500          NaN        S
5        0      0            330877    8.4583          NaN        Q
6        0      0             17463   51.8625          E46        S
7        3      1            349909   21.0750          NaN        S
8        0      2            347742   11.1333          NaN        S
9        1      0            237736   30.0708          NaN        C
10       1      1           PP 9549   16.7000           G6        S
11       0      0            113783   26.5500         C103        S
12       0      0         A/5. 2151    8.0500          NaN        S
13       1      5            347082   31.2750          NaN        S
14       0      0            350406    7.8542          NaN        S
15       0      0            248706   16.0000          NaN        S
16       4      1            382652   29.1250          NaN        Q
17       0      0            244373   13.0000          NaN        S
18       1      0            345763   18.0000          NaN        S
19       0      0              2649    7.2250          NaN        C
20       0      0            239865   26.0000          NaN        S
21       0      0            248698   13.0000          D56        S
22       0      0            330923    8.0292          NaN        Q
23       0      0            113788   35.5000           A6        S
24       3      1            349909   21.0750          NaN        S
25       1      5            347077   31.3875          NaN        S
26       0      0              2631    7.2250          NaN        C
27       3      2             19950  263.0000  C23 C25 C27        S
28       0      0            330959    7.8792          NaN        Q
29       0      0            349216    7.8958          NaN        S
..     ...    ...               ...       ...          ...      ...
861      1      0             28134   11.5000          NaN        S
862      0      0             17466   25.9292          D17        S
863      8      2          CA. 2343   69.5500          NaN        S
864      0      0            233866   13.0000          NaN        S
865      0      0            236852   13.0000          NaN        S
866      1      0     SC/PARIS 2149   13.8583          NaN        C
867      0      0          PC 17590   50.4958          A24        S
868      0      0            345777    9.5000          NaN        S
869      1      1            347742   11.1333          NaN        S
870      0      0            349248    7.8958          NaN        S
871      1      1             11751   52.5542          D35        S
872      0      0               695    5.0000  B51 B53 B55        S
873      0      0            345765    9.0000          NaN        S
874      1      0         P/PP 3381   24.0000          NaN        C
875      0      0              2667    7.2250          NaN        C
876      0      0              7534    9.8458          NaN        S
877      0      0            349212    7.8958          NaN        S
878      0      0            349217    7.8958          NaN        S
879      0      1             11767   83.1583          C50        C
880      0      1            230433   26.0000          NaN        S
881      0      0            349257    7.8958          NaN        S
882      0      0              7552   10.5167          NaN        S
883      0      0  C.A./SOTON 34068   10.5000          NaN        S
884      0      0   SOTON/OQ 392076    7.0500          NaN        S
885      0      5            382652   29.1250          NaN        Q
886      0      0            211536   13.0000          NaN        S
887      0      0            112053   30.0000          B42        S
888      1      2        W./C. 6607   23.4500          NaN        S
889      0      0            111369   30.0000         C148        C
890      0      0            370376    7.7500          NaN        Q

[891 rows x 10 columns]
df_test:      Pclass                                               Name     Sex   Age  \
0         3                                   Kelly, Mr. James    male  34.5
1         3                   Wilkes, Mrs. James (Ellen Needs)  female  47.0
2         2                          Myles, Mr. Thomas Francis    male  62.0
3         3                                   Wirz, Mr. Albert    male  27.0
4         3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0
5         3                         Svensson, Mr. Johan Cervin    male  14.0
6         3                               Connolly, Miss. Kate  female  30.0
7         2                       Caldwell, Mr. Albert Francis    male  26.0
8         3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)  female  18.0
9         3                            Davies, Mr. John Samuel    male  21.0
10        3                                   Ilieff, Mr. Ylio    male   NaN
11        1                         Jones, Mr. Charles Cresson    male  46.0
12        1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)  female  23.0
13        2                               Howard, Mr. Benjamin    male  63.0
14        1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...  female  47.0
15        2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)  female  24.0
16        2                                  Keane, Mr. Daniel    male  35.0
17        3                                  Assaf, Mr. Gerios    male  21.0
18        3                       Ilmakangas, Miss. Ida Livija  female  27.0
19        3              Assaf Khalil, Mrs. Mariana (Miriam")"  female  45.0
20        1                             Rothschild, Mr. Martin    male  55.0
21        3                          Olsen, Master. Artur Karl    male   9.0
22        1               Flegenheim, Mrs. Alfred (Antoinette)  female   NaN
23        1                    Williams, Mr. Richard Norris II    male  21.0
24        1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)  female  48.0
25        3                            Robins, Mr. Alexander A    male  50.0
26        1                       Ostby, Miss. Helene Ragnhild  female  22.0
27        3                                  Daher, Mr. Shedid    male  22.5
28        1                            Brady, Mr. John Bertram    male  41.0
29        3                                  Samaan, Mr. Elias    male   NaN
..      ...                                                ...     ...   ...
388       3                               Canavan, Mr. Patrick    male  21.0
389       3                        Palsson, Master. Paul Folke    male   6.0
390       1                         Payne, Mr. Vivian Ponsonby    male  23.0
391       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female  51.0
392       3                      Abbott, Master. Eugene Joseph    male  13.0
393       2                               Gilbert, Mr. William    male  47.0
394       3                           Kink-Heilmann, Mr. Anton    male  29.0
395       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female  18.0
396       3                               Colbert, Mr. Patrick    male  24.0
397       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female  48.0
398       3                     Larsson-Rondberg, Mr. Edvard A    male  22.0
399       3                           Conlon, Mr. Thomas Henry    male  31.0
400       1                            Bonnell, Miss. Caroline  female  30.0
401       2                                    Gale, Mr. Harry    male  38.0
402       1                     Gibson, Miss. Dorothy Winifred  female  22.0
403       1                             Carrau, Mr. Jose Pedro    male  17.0
404       1                       Frauenthal, Mr. Isaac Gerald    male  43.0
405       2       Nourney, Mr. Alfred (Baron von Drachstedt")"    male  20.0
406       2                          Ware, Mr. William Jeffery    male  23.0
407       1                         Widener, Mr. George Dunton    male  50.0
408       3                    Riordan, Miss. Johanna Hannah""  female   NaN
409       3                          Peacock, Miss. Treasteall  female   3.0
410       3                             Naughton, Miss. Hannah  female   NaN
411       1    Minahan, Mrs. William Edward (Lillian E Thorpe)  female  37.0
412       3                     Henriksson, Miss. Jenny Lovisa  female  28.0
413       3                                 Spector, Mr. Woolf    male   NaN
414       1                       Oliva y Ocana, Dona. Fermina  female  39.0
415       3                       Saether, Mr. Simon Sivertsen    male  38.5
416       3                                Ware, Mr. Frederick    male   NaN
417       3                           Peter, Master. Michael J    male   NaN

     SibSp  Parch              Ticket      Fare            Cabin Embarked
0        0      0              330911    7.8292              NaN        Q
1        1      0              363272    7.0000              NaN        S
2        0      0              240276    9.6875              NaN        Q
3        0      0              315154    8.6625              NaN        S
4        1      1             3101298   12.2875              NaN        S
5        0      0                7538    9.2250              NaN        S
6        0      0              330972    7.6292              NaN        Q
7        1      1              248738   29.0000              NaN        S
8        0      0                2657    7.2292              NaN        C
9        2      0           A/4 48871   24.1500              NaN        S
10       0      0              349220    7.8958              NaN        S
11       0      0                 694   26.0000              NaN        S
12       1      0               21228   82.2667              B45        S
13       1      0               24065   26.0000              NaN        S
14       1      0         W.E.P. 5734   61.1750              E31        S
15       1      0       SC/PARIS 2167   27.7208              NaN        C
16       0      0              233734   12.3500              NaN        Q
17       0      0                2692    7.2250              NaN        C
18       1      0    STON/O2. 3101270    7.9250              NaN        S
19       0      0                2696    7.2250              NaN        C
20       1      0            PC 17603   59.4000              NaN        C
21       0      1             C 17368    3.1708              NaN        S
22       0      0            PC 17598   31.6833              NaN        S
23       0      1            PC 17597   61.3792              NaN        C
24       1      3            PC 17608  262.3750  B57 B59 B63 B66        C
25       1      0           A/5. 3337   14.5000              NaN        S
26       0      1              113509   61.9792              B36        C
27       0      0                2698    7.2250              NaN        C
28       0      0              113054   30.5000              A21        S
29       2      0                2662   21.6792              NaN        C
..     ...    ...                 ...       ...              ...      ...
388      0      0              364858    7.7500              NaN        Q
389      3      1              349909   21.0750              NaN        S
390      0      0               12749   93.5000              B24        S
391      0      1            PC 17592   39.4000              D28        S
392      0      2           C.A. 2673   20.2500              NaN        S
393      0      0          C.A. 30769   10.5000              NaN        S
394      3      1              315153   22.0250              NaN        S
395      1      0               13695   60.0000              C31        S
396      0      0              371109    7.2500              NaN        Q
397      1      1               13567   79.2000              B41        C
398      0      0              347065    7.7750              NaN        S
399      0      0               21332    7.7333              NaN        Q
400      0      0               36928  164.8667               C7        S
401      1      0               28664   21.0000              NaN        S
402      0      1              112378   59.4000              NaN        C
403      0      0              113059   47.1000              NaN        S
404      1      0               17765   27.7208              D40        C
405      0      0       SC/PARIS 2166   13.8625              D38        C
406      1      0               28666   10.5000              NaN        S
407      1      1              113503  211.5000              C80        C
408      0      0              334915    7.7208              NaN        Q
409      1      1  SOTON/O.Q. 3101315   13.7750              NaN        S
410      0      0              365237    7.7500              NaN        Q
411      1      0               19928   90.0000              C78        Q
412      0      0              347086    7.7750              NaN        S
413      0      0           A.5. 3236    8.0500              NaN        S
414      0      0            PC 17758  108.9000             C105        C
415      0      0  SOTON/O.Q. 3101262    7.2500              NaN        S
416      0      0              359309    8.0500              NaN        S
417      1      1                2668   22.3583              NaN        C

[418 rows x 10 columns]
df:      Pclass                                               Name     Sex   Age  \
0         3                            Braund, Mr. Owen Harris    male  22.0

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
# 程式區塊 C
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    print('df[c=-1]:',df[c])
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
        print('df=object:',df[c])
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
    print('encode df[c]:',df[c])
df.head()
print('final df:',df)

df[c=-1]: 0      3
1      1
2      3
3      1
4      3
5      3
6      1
7      3
8      3
9      2
10     3
11     1
12     3
13     3
14     3
15     2
16     3
17     2
18     3
19     3
20     2
21     2
22     3
23     1
24     3
25     3
26     3
27     1
28     3
29     3
      ..
388    3
389    3
390    1
391    1
392    3
393    2
394    3
395    1
396    3
397    1
398    3
399    3
400    1
401    2
402    1
403    1
404    1
405    2
406    2
407    1
408    3
409    3
410    3
411    1
412    3
413    3
414    1
415    3
416    3
417    3
Name: Pclass, Length: 1309, dtype: int64
encode df[c]: 0      1.0
1      0.0
2      1.0
3      0.0
4      1.0
5      1.0
6      0.0
7      1.0
8      1.0
9      0.5
10     1.0
11     0.0
12     1.0
13     1.0
14     1.0
15     0.5
16     1.0
17     0.5
18     1.0
19     1.0
20     0.5
21     0.5
22     1.0
23     0.0
24     1.0
25     1.0
26     1.0
27     0.0
28     1.0
29     1.0
      ...
388    1.0
389    1.0
390    0.0
391    0.0
392    1.0
393    0.5
394    1.0
395    0.0
396    1.0
397    0.0
398    1.0
399    1.0
400    0.0
401    0.5
402    0.0
403    0.0
404    0.0
405    0.5
406    0.5
407    0.0
408    1.0
409    1.0
410    1.0
411    0.0
412    1.0
413    1.0
414    0.0
415    1.0
416    1.0
417    1.0
Name: Pclass, Length: 1309, dtype: float64
df[c=-1]: 0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
5                                       Moran, Mr. James
6                                McCarthy, Mr. Timothy J
7                         Palsson, Master. Gosta Leonard
8      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                    Nasser, Mrs. Nicholas (Adele Achem)
10                       Sandstrom, Miss. Marguerite Rut
11                              Bonnell, Miss. Elizabeth
12                        Saundercock, Mr. William Henry
13                           Andersson, Mr. Anders Johan
14                  Vestrom, Miss. Hulda Amanda Adolfina
15                      Hewlett, Mrs. (Mary D Kingcome)
16                                  Rice, Master. Eugene
17                          Williams, Mr. Charles Eugene
18     Vander Planke, Mrs. Julius (Emelia Maria Vande...
19                               Masselmani, Mrs. Fatima
20                                  Fynney, Mr. Joseph J
21                                 Beesley, Mr. Lawrence
22                           McGowan, Miss. Anna "Annie"
23                          Sloper, Mr. William Thompson
24                         Palsson, Miss. Torborg Danira
25     Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...
26                               Emir, Mr. Farred Chehab
27                        Fortune, Mr. Charles Alexander
28                         O'Dwyer, Miss. Ellen "Nellie"
29                                   Todoroff, Mr. Lalio
                             ...
388                                 Canavan, Mr. Patrick
389                          Palsson, Master. Paul Folke
390                           Payne, Mr. Vivian Ponsonby
391       Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392                        Abbott, Master. Eugene Joseph
393                                 Gilbert, Mr. William
394                             Kink-Heilmann, Mr. Anton
395       Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396                                 Colbert, Mr. Patrick
397    Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398                       Larsson-Rondberg, Mr. Edvard A
399                             Conlon, Mr. Thomas Henry
400                              Bonnell, Miss. Caroline
401                                      Gale, Mr. Harry
402                       Gibson, Miss. Dorothy Winifred
403                               Carrau, Mr. Jose Pedro
404                         Frauenthal, Mr. Isaac Gerald
405         Nourney, Mr. Alfred (Baron von Drachstedt")"
406                            Ware, Mr. William Jeffery
407                           Widener, Mr. George Dunton
408                      Riordan, Miss. Johanna Hannah""
409                            Peacock, Miss. Treasteall
410                               Naughton, Miss. Hannah
411      Minahan, Mrs. William Edward (Lillian E Thorpe)
412                       Henriksson, Miss. Jenny Lovisa
413                                   Spector, Mr. Woolf
414                         Oliva y Ocana, Dona. Fermina
415                         Saether, Mr. Simon Sivertsen
416                                  Ware, Mr. Frederick
417                             Peter, Master. Michael J
Name: Name, Length: 1309, dtype: object
df=object: 0       155
1       286
2       523
3       422
4        22
5       818
6       767
7       914
8       605
9       847
10     1067
11      133
12     1070
13       38
14     1221
15      533
16      995
17     1271
18     1217
19      760
20      423
21      112
22      778
23     1111
24      917
25       64
26      371
27      404
28      885
29     1186
       ...
388     192
389     915
390     934
391     715
392       1
393     437
394     654
395    1119
396     246
397     417
398     683
399     259
400     132
401     424
402     434
403     206
404     413
405     872
406    1229
407    1260
408    1006
409     936
410     849
411     801
412     527
413    1126
414     891
415    1046
416    1227
417     953
Name: Name, Length: 1309, dtype: int64
encode df[c]: 0      0.118683
1      0.218989
2      0.400459
3      0.323124
4      0.016845
5      0.626340
6      0.587289
7      0.699847
8      0.463247
9      0.648545
10     0.816998
11     0.101838
12     0.819296
13     0.029096
14     0.934916
15     0.408116
16     0.761868
17     0.973201
18     0.931853
19     0.581930
20     0.323890
21     0.085758
22     0.595712
23     0.850689
24     0.702144
25     0.049005
26     0.284074
27     0.309342
28     0.677642
29     0.908116
         ...
388    0.147014
389    0.700613
390    0.715161
391    0.547473
392    0.000766
393    0.334609
394    0.500766
395    0.856815
396    0.188361
397    0.319296
398    0.522971
399    0.198315
400    0.101072
401    0.324655
402    0.332312
403    0.157734
404    0.316233
405    0.667688
406    0.941041
407    0.964778
408    0.770291
409    0.716692
410    0.650077
411    0.613323
412    0.403522
413    0.862175
414    0.682236
415    0.800919
416    0.939510
417    0.729709
Name: Name, Length: 1309, dtype: float64
df[c=-1]: 0        male
1      female
2      female
3      female
4        male
5        male
6        male
7        male
8      female
9      female
10     female
11     female
12       male
13       male
14     female
15     female
16       male
17       male
18     female
19     female
20       male
21       male
22     female
23       male
24     female
25     female
26       male
27       male
28     female
29       male
        ...
388      male
389      male
390      male
391    female
392      male
393      male
394      male
395    female
396      male
397    female
398      male
399      male
400    female
401      male
402    female
403      male
404      male
405      male
406      male
407      male
408    female
409    female
410    female
411    female
412    female
413      male
414    female
415      male
416      male
417      male
Name: Sex, Length: 1309, dtype: object
df=object: 0      1
1      0
2      0
3      0
4      1
5      1
6      1
7      1
8      0
9      0
10     0
11     0
12     1
13     1
14     0
15     0
16     1
17     1
18     0
19     0
20     1
21     1
22     0
23     1
24     0
25     0
26     1
27     1
28     0
29     1
      ..
388    1
389    1
390    1
391    0
392    1
393    1
394    1
395    0
396    1
397    0
398    1
399    1
400    0
401    1
402    0
403    1
404    1
405    1
406    1
407    1
408    0
409    0
410    0
411    0
412    0
413    1
414    0
415    1
416    1
417    1
Name: Sex, Length: 1309, dtype: int64
encode df[c]: 0      1.0
1      0.0
2      0.0
3      0.0
4      1.0
5      1.0
6      1.0
7      1.0
8      0.0
9      0.0
10     0.0
11     0.0
12     1.0
13     1.0
14     0.0
15     0.0
16     1.0
17     1.0
18     0.0
19     0.0
20     1.0
21     1.0
22     0.0
23     1.0
24     0.0
25     0.0
26     1.0
27     1.0
28     0.0
29     1.0
      ...
388    1.0
389    1.0
390    1.0
391    0.0
392    1.0
393    1.0
394    1.0
395    0.0
396    1.0
397    0.0
398    1.0
399    1.0
400    0.0
401    1.0
402    0.0
403    1.0
404    1.0
405    1.0
406    1.0
407    1.0
408    0.0
409    0.0
410    0.0
411    0.0
412    0.0
413    1.0
414    0.0
415    1.0
416    1.0
417    1.0
Name: Sex, Length: 1309, dtype: float64
df[c=-1]: 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5      -1.0
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17     -1.0
18     31.0
19     -1.0
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26     -1.0
27     19.0
28     -1.0
29     -1.0
       ...
388    21.0
389     6.0
390    23.0
391    51.0
392    13.0
393    47.0
394    29.0
395    18.0
396    24.0
397    48.0
398    22.0
399    31.0
400    30.0
401    38.0
402    22.0
403    17.0
404    43.0
405    20.0
406    23.0
407    50.0
408    -1.0
409     3.0
410    -1.0
411    37.0
412    28.0
413    -1.0
414    39.0
415    38.5
416    -1.0
417    -1.0
Name: Age, Length: 1309, dtype: float64
encode df[c]: 0      0.283951
1      0.481481
2      0.333333
3      0.444444
4      0.444444
5      0.000000
6      0.679012
7      0.037037
8      0.345679
9      0.185185
10     0.061728
11     0.728395
12     0.259259
13     0.493827
14     0.185185
15     0.691358
16     0.037037
17     0.000000
18     0.395062
19     0.000000
20     0.444444
21     0.432099
22     0.197531
23     0.358025
24     0.111111
25     0.481481
26     0.000000
27     0.246914
28     0.000000
29     0.000000
         ...
388    0.271605
389    0.086420
390    0.296296
391    0.641975
392    0.172840
393    0.592593
394    0.370370
395    0.234568
396    0.308642
397    0.604938
398    0.283951
399    0.395062
400    0.382716
401    0.481481
402    0.283951
403    0.222222
404    0.543210
405    0.259259
406    0.296296
407    0.629630
408    0.000000
409    0.049383
410    0.000000
411    0.469136
412    0.358025
413    0.000000
414    0.493827
415    0.487654
416    0.000000
417    0.000000
Name: Age, Length: 1309, dtype: float64
df[c=-1]: 0      1
1      1
2      0
3      1
4      0
5      0
6      0
7      3
8      0
9      1
10     1
11     0
12     0
13     1
14     0
15     0
16     4
17     0
18     1
19     0
20     0
21     0
22     0
23     0
24     3
25     1
26     0
27     3
28     0
29     0
      ..
388    0
389    3
390    0
391    0
392    0
393    0
394    3
395    1
396    0
397    1
398    0
399    0
400    0
401    1
402    0
403    0
404    1
405    0
406    1
407    1
408    0
409    1
410    0
411    1
412    0
413    0
414    0
415    0
416    0
417    1
Name: SibSp, Length: 1309, dtype: int64
encode df[c]: 0      0.125
1      0.125
2      0.000
3      0.125
4      0.000
5      0.000
6      0.000
7      0.375
8      0.000
9      0.125
10     0.125
11     0.000
12     0.000
13     0.125
14     0.000
15     0.000
16     0.500
17     0.000
18     0.125
19     0.000
20     0.000
21     0.000
22     0.000
23     0.000
24     0.375
25     0.125
26     0.000
27     0.375
28     0.000
29     0.000
       ...
388    0.000
389    0.375
390    0.000
391    0.000
392    0.000
393    0.000
394    0.375
395    0.125
396    0.000
397    0.125
398    0.000
399    0.000
400    0.000
401    0.125
402    0.000
403    0.000
404    0.125
405    0.000
406    0.125
407    0.125
408    0.000
409    0.125
410    0.000
411    0.125
412    0.000
413    0.000
414    0.000
415    0.000
416    0.000
417    0.125
Name: SibSp, Length: 1309, dtype: float64
df[c=-1]: 0      0
1      0
2      0
3      0
4      0
5      0
6      0
7      1
8      2
9      0
10     1
11     0
12     0
13     5
14     0
15     0
16     1
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     1
25     5
26     0
27     2
28     0
29     0
      ..
388    0
389    1
390    0
391    1
392    2
393    0
394    1
395    0
396    0
397    1
398    0
399    0
400    0
401    0
402    1
403    0
404    0
405    0
406    0
407    1
408    0
409    1
410    0
411    0
412    0
413    0
414    0
415    0
416    0
417    1
Name: Parch, Length: 1309, dtype: int64
encode df[c]: 0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
5      0.000000
6      0.000000
7      0.111111
8      0.222222
9      0.000000
10     0.111111
11     0.000000
12     0.000000
13     0.555556
14     0.000000
15     0.000000
16     0.111111
17     0.000000
18     0.000000
19     0.000000
20     0.000000
21     0.000000
22     0.000000
23     0.000000
24     0.111111
25     0.555556
26     0.000000
27     0.222222
28     0.000000
29     0.000000
         ...
388    0.000000
389    0.111111
390    0.000000
391    0.111111
392    0.222222
393    0.000000
394    0.111111
395    0.000000
396    0.000000
397    0.111111
398    0.000000
399    0.000000
400    0.000000
401    0.000000
402    0.111111
403    0.000000
404    0.000000
405    0.000000
406    0.000000
407    0.111111
408    0.000000
409    0.111111
410    0.000000
411    0.000000
412    0.000000
413    0.000000
414    0.000000
415    0.000000
416    0.000000
417    0.111111
Name: Parch, Length: 1309, dtype: float64
df[c=-1]: 0               A/5 21171
1                PC 17599
2        STON/O2. 3101282
3                  113803
4                  373450
5                  330877
6                   17463
7                  349909
8                  347742
9                  237736
10                PP 9549
11                 113783
12              A/5. 2151
13                 347082
14                 350406
15                 248706
16                 382652
17                 244373
18                 345763
19                   2649
20                 239865
21                 248698
22                 330923
23                 113788
24                 349909
25                 347077
26                   2631
27                  19950
28                 330959
29                 349216
              ...
388                364858
389                349909
390                 12749
391              PC 17592
392             C.A. 2673
393            C.A. 30769
394                315153
395                 13695
396                371109
397                 13567
398                347065
399                 21332
400                 36928
401                 28664
402                112378
403                113059
404                 17765
405         SC/PARIS 2166
406                 28666
407                113503
408                334915
409    SOTON/O.Q. 3101315
410                365237
411                 19928
412                347086
413             A.5. 3236
414              PC 17758
415    SOTON/O.Q. 3101262
416                359309
417                  2668
Name: Ticket, Length: 1309, dtype: object
df=object: 0      720
1      816
2      914
3       65
4      649
5      373
6      109
7      541
8      477
9      174
10     839
11      50
12     733
13     459
14     566
15     204
16     659
17     201
18     417
19     243
20     182
21     203
22     379
23      54
24     541
25     454
26     238
27     123
28     385
29     499
      ...
388    600
389    541
390     86
391    809
392    753
393    757
394    365
395     98
396    645
397     96
398    442
399    132
400    626
401    313
402     23
403     35
404    116
405    865
406    315
407     37
408    394
409    883
410    605
411    120
412    462
413    711
414    834
415    872
416    579
417    262
Name: Ticket, Length: 1309, dtype: int64
encode df[c]: 0      0.775862
1      0.879310
2      0.984914
3      0.070043
4      0.699353
5      0.401940
6      0.117457
7      0.582974
8      0.514009
9      0.187500
10     0.904095
11     0.053879
12     0.789871
13     0.494612
14     0.609914
15     0.219828
16     0.710129
17     0.216595
18     0.449353
19     0.261853
20     0.196121
21     0.218750
22     0.408405
23     0.058190
24     0.582974
25     0.489224
26     0.256466
27     0.132543
28     0.414871
29     0.537716
         ...
388    0.646552
389    0.582974
390    0.092672
391    0.871767
392    0.811422
393    0.815733
394    0.393319
395    0.105603
396    0.695043
397    0.103448
398    0.476293
399    0.142241
400    0.674569
401    0.337284
402    0.024784
403    0.037716
404    0.125000
405    0.932112
406    0.339440
407    0.039871
408    0.424569
409    0.951509
410    0.651940
411    0.129310
412    0.497845
413    0.766164
414    0.898707
415    0.939655
416    0.623922
417    0.282328
Name: Ticket, Length: 1309, dtype: float64
df[c=-1]: 0        7.2500
1       71.2833
2        7.9250
3       53.1000
4        8.0500
5        8.4583
6       51.8625
7       21.0750
8       11.1333
9       30.0708
10      16.7000
11      26.5500
12       8.0500
13      31.2750
14       7.8542
15      16.0000
16      29.1250
17      13.0000
18      18.0000
19       7.2250
20      26.0000
21      13.0000
22       8.0292
23      35.5000
24      21.0750
25      31.3875
26       7.2250
27     263.0000
28       7.8792
29       7.8958
         ...
388      7.7500
389     21.0750
390     93.5000
391     39.4000
392     20.2500
393     10.5000
394     22.0250
395     60.0000
396      7.2500
397     79.2000
398      7.7750
399      7.7333
400    164.8667
401     21.0000
402     59.4000
403     47.1000
404     27.7208
405     13.8625
406     10.5000
407    211.5000
408      7.7208
409     13.7750
410      7.7500
411     90.0000
412      7.7750
413      8.0500
414    108.9000
415      7.2500
416      8.0500
417     22.3583
Name: Fare, Length: 1309, dtype: float64
encode df[c]: 0      0.016072
1      0.140813
2      0.017387
3      0.105390
4      0.017630
5      0.018425
6      0.102980
7      0.043004
8      0.023636
9      0.060528
10     0.034481
11     0.053669
12     0.017630
13     0.062874
14     0.017249
15     0.033117
16     0.058686
17     0.027273
18     0.037013
19     0.016023
20     0.052598
21     0.027273
22     0.017589
23     0.071104
24     0.043004
25     0.063093
26     0.016023
27     0.514290
28     0.017297
29     0.017330
         ...
388    0.017046
389    0.043004
390    0.184092
391    0.078702
392    0.041396
393    0.022403
394    0.044854
395    0.118832
396    0.016072
397    0.156235
398    0.017094
399    0.017013
400    0.323120
401    0.042857
402    0.117663
403    0.093702
404    0.055950
405    0.028953
406    0.022403
407    0.413964
408    0.016989
409    0.028783
410    0.017046
411    0.177274
412    0.017094
413    0.017630
414    0.214093
415    0.016072
416    0.017630
417    0.045504
Name: Fare, Length: 1309, dtype: float64
df[c=-1]: 0               -1
1              C85
2               -1
3             C123
4               -1
5               -1
6              E46
7               -1
8               -1
9               -1
10              G6
11            C103
12              -1
13              -1
14              -1
15              -1
16              -1
17              -1
18              -1
19              -1
20              -1
21             D56
22              -1
23              A6
24              -1
25              -1
26              -1
27     C23 C25 C27
28              -1
29              -1
          ...
388             -1
389             -1
390            B24
391            D28
392             -1
393             -1
394             -1
395            C31
396             -1
397            B41
398             -1
399             -1

D:\Users\richard\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [30]:
# 程式區塊 D
train_num = train_Y.shape[0]
print('train_num:',train_num)
train_X = df[:train_num]
print('train_X:',train_X)
test_X = df[train_num:]
print('test_X:',test_X)

from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)
print('pred:',pred)

train_num: 891
train_X:      Pclass      Name  Sex       Age  SibSp     Parch    Ticket      Fare  \
0       1.0  0.118683  1.0  0.283951  0.125  0.000000  0.775862  0.016072
1       0.0  0.218989  0.0  0.481481  0.125  0.000000  0.879310  0.140813
2       1.0  0.400459  0.0  0.333333  0.000  0.000000  0.984914  0.017387
3       0.0  0.323124  0.0  0.444444  0.125  0.000000  0.070043  0.105390
4       1.0  0.016845  1.0  0.444444  0.000  0.000000  0.699353  0.017630
5       1.0  0.626340  1.0  0.000000  0.000  0.000000  0.401940  0.018425
6       0.0  0.587289  1.0  0.679012  0.000  0.000000  0.117457  0.102980
7       1.0  0.699847  1.0  0.037037  0.375  0.111111  0.582974  0.043004
8       1.0  0.463247  0.0  0.345679  0.000  0.222222  0.514009  0.023636
9       0.5  0.648545  0.0  0.185185  0.125  0.000000  0.187500  0.060528
10      1.0  0.816998  0.0  0.061728  0.125  0.111111  0.904095  0.034481
11      0.0  0.101838  0.0  0.728395  0.000  0.000000  0.053879  0.053669
12      1.0  0.819296  1.0  0.259259  0.000  0.000000  0.789871  0.017630
13      1.0  0.029096  1.0  0.493827  0.125  0.555556  0.494612  0.062874
14      1.0  0.934916  0.0  0.185185  0.000  0.000000  0.609914  0.017249
15      0.5  0.408116  0.0  0.691358  0.000  0.000000  0.219828  0.033117
16      1.0  0.761868  1.0  0.037037  0.500  0.111111  0.710129  0.058686
17      0.5  0.973201  1.0  0.000000  0.000  0.000000  0.216595  0.027273
18      1.0  0.931853  0.0  0.395062  0.125  0.000000  0.449353  0.037013
19      1.0  0.581930  0.0  0.000000  0.000  0.000000  0.261853  0.016023
20      0.5  0.323890  1.0  0.444444  0.000  0.000000  0.196121  0.052598
21      0.5  0.085758  1.0  0.432099  0.000  0.000000  0.218750  0.027273
22      1.0  0.595712  0.0  0.197531  0.000  0.000000  0.408405  0.017589
23      0.0  0.850689  1.0  0.358025  0.000  0.000000  0.058190  0.071104
24      1.0  0.702144  0.0  0.111111  0.375  0.111111  0.582974  0.043004
25      1.0  0.049005  0.0  0.481481  0.125  0.555556  0.489224  0.063093
26      1.0  0.284074  1.0  0.000000  0.000  0.000000  0.256466  0.016023
27      0.0  0.309342  1.0  0.246914  0.375  0.222222  0.132543  0.514290
28      1.0  0.677642  0.0  0.000000  0.000  0.000000  0.414871  0.017297
29      1.0  0.908116  1.0  0.000000  0.000  0.000000  0.537716  0.017330
..      ...       ...  ...       ...    ...       ...       ...       ...
861     0.5  0.336141  1.0  0.271605  0.125  0.000000  0.325431  0.024351
862     0.0  0.891271  0.0  0.604938  0.000  0.000000  0.120690  0.052460
863     1.0  0.804747  0.0  0.000000  1.000  0.222222  0.838362  0.137436
864     0.5  0.338438  1.0  0.308642  0.000  0.000000  0.165948  0.027273
865     0.5  0.135528  0.0  0.530864  0.000  0.000000  0.173491  0.027273
866     0.5  0.272588  0.0  0.345679  0.125  0.000000  0.929957  0.028945
867     0.0  0.775651  1.0  0.395062  0.000  0.000000  0.869612  0.100317
868     1.0  1.000000  1.0  0.000000  0.000  0.000000  0.461207  0.020455
869     1.0  0.459418  1.0  0.061728  0.125  0.111111  0.514009  0.023636
870     1.0  0.065850  1.0  0.333333  0.000  0.000000  0.572198  0.017330
871     0.0  0.084992  0.0  0.592593  0.125  0.111111  0.075431  0.104327
872     0.0  0.154671  1.0  0.419753  0.000  0.000000  0.741379  0.011688
873     1.0  0.928790  1.0  0.592593  0.000  0.000000  0.451509  0.019481
874     0.5  0.005360  0.0  0.358025  0.125  0.000000  0.850216  0.048702
875     1.0  0.642420  0.0  0.197531  0.000  0.000000  0.281250  0.016023
876     1.0  0.362940  1.0  0.259259  0.000  0.000000  0.744612  0.021128
877     1.0  0.734303  1.0  0.246914  0.000  0.000000  0.533405  0.017330
878     1.0  0.513017  1.0  0.000000  0.000  0.000000  0.538793  0.017330
879     0.0  0.746554  0.0  0.703704  0.000  0.111111  0.080819  0.163946
880     0.5  0.829250  0.0  0.320988  0.000  0.111111  0.158405  0.052598
881     1.0  0.579632  1.0  0.419753  0.000  0.000000  0.581897  0.017330
882     1.0  0.222052  0.0  0.283951  0.000  0.000000  0.751078  0.022435
883     0.5  0.067381  1.0  0.358025  0.000  0.000000  0.834052  0.022403
884     1.0  0.885911  1.0  0.320988  0.000  0.000000  0.960129  0.015682
885     1.0  0.763400  0.0  0.493827  0.000  0.555556  0.710129  0.058686
886     0.5  0.620980  1.0  0.345679  0.000  0.000000  0.140086  0.027273
887     0.0  0.355283  0.0  0.246914  0.000  0.000000  0.019397  0.060390
888     1.0  0.464778  0.0  0.000000  0.125  0.222222  0.994612  0.047630
889     0.0  0.086524  1.0  0.333333  0.000  0.000000  0.011853  0.060390
890     1.0  0.258806  1.0  0.407407  0.000  0.000000  0.691810  0.017046

        Cabin  Embarked
0    0.000000  1.000000
1    0.575269  0.333333
2    0.000000  1.000000
3    0.381720  1.000000
4    0.000000  1.000000
5    0.000000  0.666667
6    0.881720  1.000000
7    0.000000  1.000000
8    0.000000  1.000000
9    0.000000  0.333333
10   0.994624  1.000000
11   0.338710  1.000000
12   0.000000  1.000000
13   0.000000  1.000000
14   0.000000  1.000000
15   0.000000  1.000000
16   0.000000  0.666667
17   0.000000  1.000000
18   0.000000  1.000000
19   0.000000  0.333333
20   0.000000  1.000000
21   0.774194  1.000000
22   0.000000  0.666667
23   0.096774  1.000000
24   0.000000  1.000000
25   0.000000  1.000000
26   0.000000  0.333333
27   0.435484  1.000000
28   0.000000  0.666667
29   0.000000  1.000000
..        ...       ...
861  0.000000  1.000000
862  0.655914  1.000000
863  0.000000  1.000000
864  0.000000  1.000000
865  0.000000  1.000000
866  0.000000  0.333333
867  0.053763  1.000000
868  0.000000  1.000000
869  0.000000  1.000000
870  0.000000  1.000000
871  0.709677  1.000000
872  0.247312  1.000000
873  0.000000  1.000000
874  0.000000  0.333333
875  0.000000  0.333333
876  0.000000  1.000000
877  0.000000  1.000000
878  0.000000  1.000000
879  0.489247  0.333333
880  0.000000  1.000000
881  0.000000  1.000000
882  0.000000  1.000000
883  0.000000  1.000000
884  0.000000  1.000000
885  0.000000  0.666667
886  0.000000  1.000000
887  0.220430  1.000000
888  0.000000  1.000000
889  0.419355  0.333333
890  0.000000  0.666667

[891 rows x 10 columns]
test_X:      Pclass      Name  Sex       Age  SibSp     Parch    Ticket      Fare  \
0       1.0  0.488515  1.0  0.438272  0.000  0.000000  0.405172  0.017200
1       1.0  0.969372  0.0  0.592593  0.125  0.000000  0.627155  0.015585
2       0.5  0.640888  1.0  0.777778  0.000  0.000000  0.198276  0.020820
3       1.0  0.978560  1.0  0.345679  0.000  0.000000  0.394397  0.018823
4       1.0  0.415773  0.0  0.283951  0.125  0.111111  0.364224  0.025885
5       1.0  0.888208  1.0  0.185185  0.000  0.000000  0.745690  0.019919
6       1.0  0.199847  0.0  0.382716  0.000  0.000000  0.419181  0.016810
7       0.5  0.141654  1.0  0.333333  0.125  0.111111  0.227371  0.058442
8       1.0  0.006891  0.0  0.234568  0.000  0.000000  0.270474  0.016031
9       1.0  0.235835  1.0  0.271605  0.250  0.000000  0.769397  0.048994
10      1.0  0.438744  1.0  0.000000  0.000  0.000000  0.542026  0.017330
11      0.0  0.467075  1.0  0.580247  0.000  0.000000  0.740302  0.052598
12      0.0  0.859112  0.0  0.296296  0.125  0.000000  0.141164  0.162209
13      0.5  0.430322  1.0  0.790123  0.125  0.000000  0.199353  0.052598
14      0.0  0.168453  0.0  0.592593  0.125  0.000000  0.997845  0.121121
15      0.5  0.996937  0.0  0.308642  0.125  0.000000  0.933190  0.055950
16      0.5  0.484686  1.0  0.444444  0.000  0.000000  0.164871  0.026007
17      1.0  0.050536  1.0  0.271605  0.000  0.000000  0.309267  0.016023
18      1.0  0.439510  0.0  0.345679  0.125  0.000000  0.981681  0.017387
19      1.0  0.049770  0.0  0.567901  0.000  0.000000  0.313578  0.016023
20      0.0  0.786371  1.0  0.691358  0.125  0.000000  0.882543  0.117663
21      1.0  0.683002  1.0  0.123457  0.000  0.111111  0.798491  0.008125
22      0.0  0.294793  0.0  0.000000  0.000  0.000000  0.878233  0.063669
23      0.0  0.975498  1.0  0.271605  0.000  0.111111  0.877155  0.121519
24      0.0  0.795559  0.0  0.604938  0.125  0.333333  0.887931  0.513072
25      1.0  0.774119  1.0  0.629630  0.125  0.000000  0.792026  0.030195
26      0.0  0.693721  0.0  0.283951  0.000  0.111111  0.042026  0.122688
27      1.0  0.220521  1.0  0.290123  0.000  0.000000  0.315733  0.016023
28      0.0  0.115620  1.0  0.518519  0.000  0.000000  0.034483  0.061364
29      1.0  0.813936  1.0  0.000000  0.250  0.000000  0.275862  0.044181
..      ...       ...  ...       ...    ...       ...       ...       ...
388     1.0  0.147014  1.0  0.271605  0.000  0.000000  0.646552  0.017046
389     1.0  0.700613  1.0  0.086420  0.375  0.111111  0.582974  0.043004
390     0.0  0.715161  1.0  0.296296  0.000  0.000000  0.092672  0.184092
391     0.0  0.547473  0.0  0.641975  0.000  0.111111  0.871767  0.078702
392     1.0  0.000766  1.0  0.172840  0.000  0.222222  0.811422  0.041396
393     0.5  0.334609  1.0  0.592593  0.000  0.000000  0.815733  0.022403
394     1.0  0.500766  1.0  0.370370  0.375  0.111111  0.393319  0.044854
395     0.0  0.856815  0.0  0.234568  0.125  0.000000  0.105603  0.118832
396     1.0  0.188361  1.0  0.308642  0.000  0.000000  0.695043  0.016072
397     0.0  0.319296  0.0  0.604938  0.125  0.111111  0.103448  0.156235
398     1.0  0.522971  1.0  0.283951  0.000  0.000000  0.476293  0.017094
399     1.0  0.198315  1.0  0.395062  0.000  0.000000  0.142241  0.017013
400     0.0  0.101072  0.0  0.382716  0.000  0.000000  0.674569  0.323120
401     0.5  0.324655  1.0  0.481481  0.125  0.000000  0.337284  0.042857
402     0.0  0.332312  0.0  0.283951  0.000  0.111111  0.024784  0.117663
403     0.0  0.157734  1.0  0.222222  0.000  0.000000  0.037716  0.093702
404     0.0  0.316233  1.0  0.543210  0.125  0.000000  0.125000  0.055950
405     0.5  0.667688  1.0  0.259259  0.000  0.000000  0.932112  0.028953
406     0.5  0.941041  1.0  0.296296  0.125  0.000000  0.339440  0.022403
407     0.0  0.964778  1.0  0.629630  0.125  0.111111  0.039871  0.413964
408     1.0  0.770291  0.0  0.000000  0.000  0.000000  0.424569  0.016989
409     1.0  0.716692  0.0  0.049383  0.125  0.111111  0.951509  0.028783
410     1.0  0.650077  0.0  0.000000  0.000  0.000000  0.651940  0.017046
411     0.0  0.613323  0.0  0.469136  0.125  0.000000  0.129310  0.177274
412     1.0  0.403522  0.0  0.358025  0.000  0.000000  0.497845  0.017094
413     1.0  0.862175  1.0  0.000000  0.000  0.000000  0.766164  0.017630
414     0.0  0.682236  0.0  0.493827  0.000  0.000000  0.898707  0.214093
415     1.0  0.800919  1.0  0.487654  0.000  0.000000  0.939655  0.016072
416     1.0  0.939510  1.0  0.000000  0.000  0.000000  0.623922  0.017630
417     1.0  0.729709  1.0  0.000000  0.125  0.111111  0.282328  0.045504

        Cabin  Embarked
0    0.000000  0.666667
1    0.000000  1.000000
2    0.000000  0.666667
3    0.000000  1.000000
4    0.000000  1.000000
5    0.000000  1.000000
6    0.000000  0.666667
7    0.000000  1.000000
8    0.000000  0.333333
9    0.000000  1.000000
10   0.000000  1.000000
11   0.000000  1.000000
12   0.225806  1.000000
13   0.000000  1.000000
14   0.833333  1.000000
15   0.000000  0.333333
16   0.000000  0.666667
17   0.000000  0.333333
18   0.000000  1.000000
19   0.000000  0.333333
20   0.000000  0.333333
21   0.000000  1.000000
22   0.000000  1.000000
23   0.000000  0.333333
24   0.258065  0.333333
25   0.000000  1.000000
26   0.188172  0.333333
27   0.000000  0.333333
28   0.043011  1.000000
29   0.000000  0.333333
..        ...       ...
388  0.000000  0.666667
389  0.000000  1.000000
390  0.155914  1.000000
391  0.688172  1.000000
392  0.000000  1.000000
393  0.000000  1.000000
394  0.000000  1.000000
395  0.451613  1.000000
396  0.000000  0.666667
397  0.215054  0.333333
398  0.000000  1.000000
399  0.000000  0.666667
400  0.543011  1.000000
401  0.000000  1.000000
402  0.000000  0.333333
403  0.000000  1.000000
404  0.731183  0.333333
405  0.725806  0.333333
406  0.000000  1.000000
407  0.559140  0.333333
408  0.000000  0.666667
409  0.000000  1.000000
410  0.000000  0.666667
411  0.553763  0.666667
412  0.000000  1.000000
413  0.000000  1.000000
414  0.349462  0.333333
415  0.000000  1.000000
416  0.000000  1.000000
417  0.000000  0.333333

[418 rows x 10 columns]

pred: [0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 1 0 1
 1 0 0 0 1 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 1
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 1 0
 0 0 1 0 0 1 0 0 1 1 1 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 1 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 0 0
 1 1 1 1 1 1 0 1 0 0 0]

In [32]:
# 程式區塊 E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('D:/100days/data/titanic_baseline.csv', index=False)